%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "sample app", '#', id: "logo"
      %ul.pull-right
        %li
          = link_to "Home", '#'
          = link_to "Help", '#'
          = link_to "Sign in", '#'
